<%-include('layouts/head.ejs')%>

<%-include('layouts/nav.ejs')%>

<class >
<br>
<br>

<form action="/add-products" method="POST">
  <label for="image">First name:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="lname">product:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="lname">price:</label><br>
  <input type="number" id="lname" name="price" ><br><br>
  <input type="submit" value="Submit">
</form> 
</class>

<%-include('layouts/end.ejs')%>